<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielojea.srapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Startscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".charactercreation.SkillSelection" />
        <activity android:name=".CharacterSelection" />
        <activity android:name=".charactercreation.MetatypChoose" />
        <activity android:name=".CharacterSheet" />
        <activity android:name=".charactercreation.CharacterConcept" />
        <activity
            android:name=".charactercreation.SkillPicker"
            android:label="@string/title_activity_ability_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.MetatypDetail" />
        <activity
            android:name=".charactercreation.PriorityListActivity"
            android:label="@string/title_priorityitem_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".charactercreation.PriorityDetailActivity"
            android:label="@string/title_priorityitem_detail"
            android:parentActivityName=".charactercreation.PriorityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielojea.srapp.charactercreation.PriorityListActivity" />
        </activity>
        <activity android:name=".charactercreation.KnowledgeSkillSelection" />
        <activity
            android:name=".charactercreation.QualitiesPicker"
            android:label="@string/title_activity_qualities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.QualitySelection" />
        android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.CustomizeAttributes" />
        <activity android:name=".charactercreation.ConnectionSelection"></activity>
    </application>

</manifest>