<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielojea.srapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/UsedStyle"> <!-- android:theme="@style/AppTheme"> -->
        <activity
            android:name=".Startscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CharacterSelection" />
        <activity android:name=".charactercreation.SkillSelection"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.MetatypChoose" />
        <activity
            android:name=".CharacterSheet"
            android:theme="@style/CharacterSheet" />
        <activity android:name=".charactercreation.CharacterConcept"
            android:parentActivityName=".CharacterSelection"/>
        <activity
            android:name=".charactercreation.SkillPicker"
            android:label="@string/title_activity_ability_picker"
            android:parentActivityName=".CharacterSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.MetatypDetail" />
        <activity
            android:name=".charactercreation.PriorityListActivity"
            android:label="@string/title_priorityitem_list"
            android:parentActivityName=".CharacterSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".charactercreation.PriorityDetailActivity"
            android:label="@string/title_priorityitem_detail"
            android:parentActivityName=".charactercreation.PriorityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielojea.srapp.charactercreation.PriorityListActivity" />
        </activity>
        <activity android:name=".charactercreation.KnowledgeSkillSelection"
            android:parentActivityName=".CharacterSelection"/>
        <activity
            android:name=".charactercreation.QualitiesPicker"
            android:parentActivityName=".CharacterSelection"
            android:label="@string/title_activity_qualities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.QualitySelection"
            android:parentActivityName=".CharacterSelection"/>
        android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.CustomizeAttributes"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.ConnectionSelection"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.RemainingPointsAttributes"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.RemainingPointsSkills"
            android:parentActivityName=".CharacterSelection"/>
        <activity
            android:name=".charactercreation.RemPointsSkillPicker"
            android:label="@string/title_activity_ability_picker"
            android:parentActivityName=".CharacterSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".charactercreation.RemPointsKnowledgeSkills"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.RemainingPointsStartScreen"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.RemPointsConnectionSelection"
            android:parentActivityName=".CharacterSelection"/>
        <activity
            android:name=".CharacterSelectionPortrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_character_selection_portrait_test"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".charactercreation.SpecialAttributes"
            android:parentActivityName=".CharacterSelection"/>
        <activity android:name=".charactercreation.MagicuserChoose"
            android:parentActivityName=".CharacterSelection"></activity>
    </application>

</manifest>